NODE_ENV=development
PORT=3000

MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_DB_NAME=textile_master
MASTER_DB_USER=
MASTER_DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

TENANT_DB_HOST=localhost
TENANT_DB_PORT=5432

DEFAULT_TENANT_TIMEZONE=Asia/Tashkent
